.call_item__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 0.5px rgba(0, 0, 0, 0.226) solid;
  border-radius: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  padding-right: 0px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  font-weight: 600;
}

.container_hide_drawer {
  padding-bottom: 0;
}
