.detailed_call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailed_call__items {
  width: 100%;
}
.detail_call__info {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.detailed_call__icons {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 10px;
}

.detailed_call p {
  font-weight: bold;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.detailed_call__image {
  height: 125px;
  width: 125px;
}

.detailed_call .call_item__container:hover {
  background-color: white;
  cursor: auto;
}

@media only screen and (max-width: 362px) {
  .detailed_call p {
    font-size: 0.8rem;
  }
}
